script.
    $(document).ready(function() {
        $('#dialog-modal-img').click(function(e) {
            e.stopPropagation();
        });
        $('#dialog-modal-img').load(function() {
            recenterImage();
        });
    });
    
    function recenterImage() {
        var modalImg = $('#dialog-modal-img');
        var imgWidth = modalImg.width();
        var imgHeight = modalImg.height();
        $('.dialog-modal').css({
            'width': imgWidth,
            'height': imgHeight,
            'margin-left': -(imgWidth / 2),
            'margin-top': -(imgHeight / 2)
        });
    }
    
    function showDialog(imgUrl) {
        $('#dialog-modal-img').attr('src', imgUrl);
        $('.dialog-overlay').css({ 'visibility': 'visible' });
        $('.dialog-modal').css({ 'visibility': 'visible' });
    }
    
    function hideDialog() {
        $('.dialog-overlay').css({ 'visibility': 'hidden' });
        $('.dialog-modal').css({ 'visibility': 'hidden' });
    }
    
    function isShowingDialog() {
        return $('.dialog-overlay').css('visibility') == 'visible';
    }

div.dialog-overlay(style="visibility: hidden" onclick="javascript:hideDialog()")
    div.dialog-modal(style="visibility: hidden")
        img#dialog-modal-img(src="/images/img_not_found.jpg")
