extends layout

block head-content
  link(rel='stylesheet', href='/stylesheets/dialog.css')
  
  script.
    var imgIdx = -1;
    $(document).keydown(function(e) {
        var handled = false;
        if (isShowingDialog()) {
            var event = e || window.event;
            switch(event.which || event.keyCode) {
                case 37:
                // left arrow
                showImage(Math.max(0, --imgIdx));
                handled = true;
                break;
                
                case 39:
                // right arrow
                showImage(Math.min($('.subitemCount').text() - 1, ++imgIdx));
                handled = true;
                break;
                
                case 27:
                // escape key
                hideDialog();
                handled = true;
                break;
            }
        }
        if (handled) {
            e.preventDefault();
        }
    });
    
    function showImage(index) {
      var imgUrl = $('#image'.concat(index)).attr('src');
      imgIdx = index;
      showDialog(imgUrl);
    }

block content
  include ./includes/dialog.jade
  p #{tNick} - #{item.id}
  - var subitemCount = item.subitems.length;
  p.subitemCount(style='visibility: hidden') #{subitemCount}
  div(align='center')
    - for (var i = 0; i < subitemCount; i++) {
        - var imgUrl = "/images/".concat(tNick, "/subitem/", item.subitems[i].fsId);
        img(src=imgUrl id="image#{i}" onclick="showImage(#{i})")
        br
    - }
