extends layout

block content
  h1= title
  p Welcome to #{title}
  script.
    $(document).ready(function() {
      resizeCells();
    });
    $(window).on('resize', resizeCells);
    
    function resizeCells() {
      var cellWidth = $('body').width() / 4;
      $('.image').attr('width', cellWidth);
    }
  
  ul.page
    - for (var i = 1; i <= totalPageCount; i++) {
      li
        a(href="/items/#{tNick}?page=#{i}") [#{i}]
    - }
  table#items(cellspacing='0' border-spacing='0')
    - var itemCountPerRow = 4;
    - var lineCount = itemMetadataList.length / itemCountPerRow;
    - for (var i = 0; i < lineCount ; i++) {
      - var startIdx = i * 4;
      - var currentRowItemCount = Math.min(itemCountPerRow, itemMetadataList.length - startIdx);
      - var endIdx = startIdx + currentRowItemCount;
        tr
          - for (var j = startIdx; j < endIdx; j++) {
              td.image
                - var itemMetadata = itemMetadataList[j];
                - var itemId = itemMetadata.itemId;
                - var primarySubitem = itemMetadata.primarySubitem;
                - if (typeof(primarySubitem) == 'undefined') {
                    img(src="/images/img_not_found.jpg", width='100%')
                - } else {
                    a(href="/items/#{tNick}/#{itemId}")
                      img(src="/images/#{tNick}/subitem/#{primarySubitem.fsId}", width='100%')
                - }
          - }
    - }
