.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.dialog-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11; /* 1px higher than the overlay layer */
}